{% extends 'admin.html' %}
{% block content %}

<div class="card">
    <div class="card-body">

<form method="post">{% csrf_token %}

     <label for="uname"><b>Vno</b></label>
    <select name="busnumber">
        {% for i in key1 %}
        <option value="{{i.id}}">{{ i.busnumber}}</option>
        {% endfor %}
    </select>
<label for="uname"><b>VehicleStop</b></label>
 <input type="text" name="busstop" value="{{ key3.busstop }}">

    <button type="submit">Save</button>
</form>
    </div>
</div>

{% endblock %}