{% extends 'admin.html' %}
{% block content %}


<h1>TIME TABLE</h1>
<label for="uname"><b>Day</b></label>

<select name="day">
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>

</select>
<label for="uname"><b>class</b></label>
<select name="class">
                            <option value="fifth">5</option>
                            <option value="sixth">6</option>
                            <option value="seventh">7</option>
                            <option value="eighth">8</option>
                            <option value="nineth">9</option>
                            <option value="tenth">10</option>

</select><br>

<h3>PERIODS</h3>

        <label for="uname"><b>Period1</b></label>

<select name="period1">
                            <option value="english">English</option>
                            <option value="malayalam">Malayalam</option>
                            <option value="maths">Maths</option>
                            <option value="science">Science</option>
                            <option value="social science">Social science</option>
                            <option value="hindi">Hindi</option>
</select>


<label for="psw"><b>Period2</b></label>

                   <select name="period2">
                            <option value="english">English</option>
                            <option value="malayalam">Malayalam</option>
                            <option value="maths">Maths</option>
                            <option value="science">Science</option>
                            <option value="social science">Social science</option>
                            <option value="hindi">Hindi</option>
</select>

   <label for="psw"><b>Period3</b></label>

                   <select name="period3">
                            <option value="english">English</option>
                            <option value="malayalam">Malayalam</option>
                            <option value="maths">Maths</option>
                            <option value="science">Science</option>
                            <option value="social science">Social science</option>
                            <option value="hindi">Hindi</option>

</select><br>
<label for="psw"><b>Period4</b></label>

                   <select name="period4">
                            <option value="english">English</option>
                            <option value="malayalam">Malayalam</option>
                            <option value="maths">Maths</option>
                            <option value="science">Science</option>
                            <option value="social science">Social science</option>
                            <option value="hindi">Hindi</option>
</select>
<label for="psw"><b>Period5</b></label>

                   <select name="period5">
                            <option value="english">English</option>
                            <option value="malayalam">Malayalam</option>
                            <option value="maths">Maths</option>
                            <option value="science">Science</option>
                            <option value="social science">Social science</option>
                            <option value="hindi">Hindi</option>
</select>
<label for="psw"><b>Period6</b></label>

                   <select name="period6">
                            <option value="english">English</option>
                            <option value="malayalam">Malayalam</option>
                            <option value="maths">Maths</option>
                            <option value="science">Science</option>
                            <option value="social science">Social science</option>
                            <option value="hindi">Hindi</option>
</select>
{% endblock %}